/*
 * nf-dnaseq pipeline configuration
 */

docker.enabled = true

manifest {
    name            = 'nf-dnaseq'
    description     = 'Germline short variant calling (per-sample + joint genotyping) with Samtools and GATK4, built from the Nextflow "Nextflow for Science: Genomics" training'
    author          = ''
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.10.0'
    version         = '1.0.0'
}

profiles {
    // Run with the small bundled family-trio test dataset (chr20 slice)
    test {
        params.input           = "${projectDir}/data/samplesheet.csv"
        params.reference       = "${projectDir}/data/ref/ref.fasta"
        params.reference_index = "${projectDir}/data/ref/ref.fasta.fai"
        params.reference_dict  = "${projectDir}/data/ref/ref.dict"
        params.intervals       = "${projectDir}/data/ref/intervals.bed"
        params.cohort_name     = "family_trio"
    }
}
